<ion-header>
  <ion-toolbar>
    <ion-title>criarpercursos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="8">
        <ion-item>
          <ion-label>Criar Percurso</ion-label>
        </ion-item> 
      </ion-col>
      <ion-col size="4">
        <ion-item (click)="criarPercurso()">
          CONCLUIR
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
        </div>
      </ion-col>
      <ion-col size="10"></ion-col>
      <ion-col>
        <div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
        </div>
      </ion-col>
      <ion-col size="10">
        <div>
          <ion-item>
            <ion-label position="floating">Inserir destino</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </div>
      </ion-col>
      <ion-col>
        <div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size="10">
        <img src="../../assets/img/mapa.png" (click)="criarPonto()"/>
      </ion-col>
      <ion-col></ion-col> 
    </ion-row>
  </ion-grid>
</ion-content>